<% if(errors.length) { %>
    <% errors.map(item => { %>
        <script>openRegisterModal()</script>
        <div class="alert alert-danger"><%- item %></div>
    <% }); %>
<% } %>

<% if(success.length) { %>
    <% success.map(item => { %>
        <script>openLoginModal()</script>
        <div class="alert alert-success"><%- item %></div>
    <% }); %>
<% } %>
